---
version: '2'
services:
  consul_client:
    container_name: service-cluster-consul
    image: fgtatsuro/consul:0.1
    network_mode: "host"
    command: /opt/cluster/consul/services.sh
    environment:
      - CONSUL_NODE_NAME
      - CONSUL_BIND_ADDRESS
      - CONSUL_JOIN_ADDRESS
      - CONSUL_RPC_ADDR=${CONSUL_BIND_ADDRESS}:8400
      - CONSUL_HTTP_ADDR=${CONSUL_BIND_ADDRESS}:8500
    expose:
      - "8300"
      - "8301"
      - "8301/udp"
      - "8302"
      - "8302/udp"
      - "8400"
      - "8500"
      - "8600"
      - "8600/udp"
  nomad_client:
    container_name: service-cluster-nomad
    image: fgtatsuro/nomad:0.1
    network_mode: "host"
    command: /opt/cluster/nomad/services.sh
    environment:
      - NOMAD_BIND_ADDRESS
      - NOMAD_ADDR=http://${NOMAD_BIND_ADDRESS}:4646
      - NOMAD_CONSUL_HTTP_ADDRESS
    expose:
      - "4646"
      - "4647"
      - "4648/udp"
